# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/.vscode
/cmake-build-debug
/.idea
Makefile
CMakeCache.txt
CMakeFiles
Testing

*.cbp
cmake_install.cmake
/boolean-expression-compiler
